@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #1f1f1f;
  overflow-x: hidden;
}

/* When dark mode is enabled (i.e. when the html element has the "dark" class),
   override the CSS variables */
html.dark {
  --background: #1a1a1a;
  --foreground: #f1f1f1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif; /* Apply Poppins globally */
}

/* Define the Vogun font using @font-face */
@font-face {
  font-family: "Vogun-Medium";
  src: url("/fonts/Vogun-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply Vogun font to h1 */
h1 {
  font-family: "Vogun-Medium", sans-serif; /* Apply Vogun-Medium font */
}
.navbar {
  background: var(--background);
  color: var(--foreground);
}
